page-instituicao {
    ion-content.content.content-ios {
        padding: 0;
        background-image: linear-gradient(to bottom, #9AD26F, #008CB7);
    }
    .slide-zoom {
        margin-top: 10%;
    }
    .center-align {
        align-items: center;
    }
    background-color: #fff;
    .grid {
        padding: 0;
    }
    .pd-r {
        padding-right: 10px;
    }
    .card {
        background-color:  #fff;
        text-align: left;
        width:  90%;
        margin-left: 5%;
        border-radius: 10px;
        box-shadow: 0px 2px 6px #444444;
        color: #707070;
    }
    .img-card {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .sede-instituicao {
        font-weight: bold;
    }
    a.link-card {
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #707070;
        display: block;
        padding: 2px;
    }
    .informacao-evento {
        padding: 5px;
    }
    .informacao-evento p {
        margin: 0;
        font-size: 14px;
        display: inline-block;
    }
    .divisor {
        border-color: #fafafa;
        border-top: 1px solid #cecece;
    }
    p .destaque {
        display: block;
        color: #444;
        font-weight: bold;
        font-size: 16px;
        padding-bottom: 5px;
    }
    .button-ios {
        height: 100%;
    }
    .titulo-evento {
        font-weight: 300;
        font-size: 20px;
        margin: 0;
    }
    span.inscritos {
        font-size:  12px;
        background-color: #0E92B1;
        color: #fff;
        padding:  3px 5px;
        border-radius:  20px;
    }
    .icon-card {
        font-size: 18px;
        color: #0E92B1
    }
    .btn-search {
        background-color: #fff;
    }
    .img-card {
        width: 337px;
    }
}
