page-buscaramigos {
    
    ion-content.content.content-ios {
        padding: 0;
        background-image: linear-gradient(to bottom, #fff, #fff);
    }
    ion-content.content.content-md {
        padding: 0;
        background-image: linear-gradient(to bottom, #fff, #fff);
    }
    .searchbar-ios {
        padding: 0 8px;
        min-height: 44px;
        border-top: 0.55px solid transparent;
        border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
        background: #fff;
        border: 1px solid #cecece;
        border-radius: 20px;
    }
    .btn-add {
        background-color: #fff;
        color: #0E92B1;
        font-weight: bold;
        padding-top: 20px;
    }
    .grid h2 {
        font-size: 15px;
        color: #707070;
    }
    .nome-perfil {
        margin: 0;
        font-size: 14px;
        margin-top: 10px;
    }
    .text-msg {
        margin: 0;
        font-size: 12px;
    }
}
