page-esqueci-dados {
    
    .form-group {
        margin-top: 5vh;
    }
    .m-t-50 {
        margin-top: 30vh;
    }
    .modal {
        position: absolute;
        background-color: #fff;
        padding: 15px;
        box-shadow: 1px 1px 5px #444;
        border-radius: 20px;
        margin-left: 5%;
        width: 86%;
        height: 60vh;
        z-index: 1;
    }
    
}
