page-home {
    .img-fundo {
        z-index: 0;
    }
    .center-align {
        align-items: center;
    }
    ion-col.filtrar-evento.col {
        margin-top: 6vh;
        padding: 11px;
        color: #fff;
        background: #0E92B1;
    }
    background-color: #fff;
    .grid {
        padding: 0;
    }
    ion-slides.main-slide.slides.slides-ios.slides-0 {
        margin-top: 1vh;
    }
    .pd-r {
        padding-right: 10px;
    }
    .card {
        background-color:  #fff;
        text-align: left;
        width:  90%;
        margin-left: 5%;
        border-radius: 10px;
        box-shadow: 0px 2px 6px #444444;
        color: #707070;
    }
    .img-card {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
    }
    .informacao-evento {
        padding: 5px;
    }
    .informacao-evento p {
        margin: 0;
        font-size: 14px;
        display: inline-block;
    }
    .divisor {
        border-color: #fafafa;
        border-top: 1px solid #cecece;
    }
    p .destaque {
        display: block;
        color: #444;
        font-weight: bold;
        font-size: 16px;
        padding-bottom: 5px;
    }
    .button-ios {
        height: 100%;
    }
    .titulo-evento {
        font-weight: 300;
        font-size: 20px;
        margin: 0;
    }
    span.inscritos {
        font-size:  12px;
        background-color: #707070;
        color: #fff;
        padding:  3px;
        border-radius:  20px;
    }
    .img-card {
        width: 100%;
    }
}
