// http://ionicframework.com/docs/theming/

/*ALINHAMENTOS*/
.display-table {
    display: table;
    table-layout: auto;
}
.display-cell {
    display: table-cell;
    float: none;
}
.alignMiddle {
    vertical-align: middle;
}
.alignTop {
    vertical-align: top;
}
.alignBottom {
    vertical-align: bottom;
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}
.alignLeft {
    text-align: left;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-t-vh {
    margin-top: 60vh;
}
.t-a-r {
    text-align: left
}
.img-fundo {
    position: absolute;
    z-index: -1;
}
ion-content.content.content-ios {
    padding: 0;
    background-image: linear-gradient(to bottom, #9AD26F, #008CB7);
}
ion-content.content.content-md {
    padding: 0;
    background-image: linear-gradient(to bottom, #9AD26F, #008CB7);
}
.slide-zoom {
    padding-bottom: 10px;
}
.img-circle {
    border-radius: 50%;
    width: 64px;
    border: 2px solid #cecece;
}
.circle {
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
}
.m-l-20 {
    margin-left: 20px;
    font-size: 2em;
}
ion-header.header.header-ios {
    box-shadow: 1px 1px 6px #666666;
}
.card {
    background-color:  #fff;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 1px 3px #444444;
    color: #707070;
}
button.btn-card {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #0E92B1;
}
.back-icon {
    color: #fff;
    font-size: 4em;
    margin-left: 10px;
    font-weight: bold;
}
button.btn-close-modal {
    background: none;
    font-size: 2em;
    text-align: right;
    float: right;
    padding: 15px;
    color: #CEC7C7;
}
.login-text {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px #444444;
}
.form-circle {
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.85);
    color:#0E92B1;
}
.enter-login {
    background-color: rgba($color: #488aff, $alpha: 0.85)
}
.form-group {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #444444;
}
.form-group a {
    color: #FFCA00;
    font-weight: bold;
}
.form-group p {
    font-size: 15px;
}
.form-group span {
    font-weight: bold;
}
.form-label {
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #444444;
}
input.form-circle.m-t-10 {
    color: #444;
}
::-webkit-input-placeholder {
    color: #0E92B1;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
